/* CSS Document */

.part1-title-text1 {
	position:absolute;top:120px;left:80px;font-size:78px;font-family:Tahoma;color:#526A82;
}

.part1-title-text2 {
	position:absolute;top:223px;left:80px;font-size:78px;font-family:Tahoma;color:#526A82;
}

.part1-title-text3 {
	position:absolute;top:336px;left:80px;font-size:36px;font-family:Tahoma;color:#5B5B5B;
}

.part1-title-text4 {
	position:absolute;top:451px;left:390px;font-size:22px;font-family:Tahoma;color:#5B5B5B;text-align:center;
}

.part2-title-text1 {
	font-size:34px;font-family:Tahoma;color:#FFFFFF;text-align:center;padding-bottom:44px;
}

.part2-title-text2 {
 	font-size:18px;font-family:Tahoma;color:#FFFFFF;text-align:center;padding-bottom:32px;
}

.part2-title-text3 {
	font-size:18px;font-family:Tahoma;color:#FFFFFF;text-align:center;
}

.part3-title-text1 {
	font-size:34px;font-family:Tahoma;color:#5B5B5B;text-align:center;padding-bottom:41px;
}

.part3-title-text2 {
	font-size:18px;font-family:Tahoma;color:#5B5B5B;text-align:center;padding-bottom:32px;
}

.part3-title-text3 {
	font-size:18px;font-family:Tahoma;color:#3498DB;text-align:center;
}

.part4-title-text11 {
	position:absolute;top:39px;left:0px;font-size:14px;font-family:Tahoma Bold;color:#FFFFFF;
}

.part4-title-text12 {
	position:absolute;top:73px;left:0px;font-size:14px;font-family:Tahoma;color:#9FABDD;
}

.part4-title-text13 {
	position:absolute;top:93px;left:0px;font-size:14px;font-family:Tahoma;color:#9FABDD;
}

.part4-title-text14 {
	position:absolute;top:113px;left:0px;font-size:14px;font-family:Tahoma;color:#9FABDD;
}

.part4-title-text15 {
	position:absolute;top:133px;left:0px;font-size:14px;font-family:Tahoma;color:#9FABDD;
}

.part4-title-text21 {
	position:absolute;top:93px;left:0px;font-size:18px;color:#9FABDD;
}

.part4-title-copyright {
	position:absolute;top:133px;left:0px;font-size:14px;font-family:Tahoma;color:#9FABDD;
}