<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10"><![endif]-->
<html  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">MDSGene</title>
    <!-- other elements you want to reference in your layout -->
  </head>
<body>
    <div id="wrap-everything">
	  <div th:include="fragments/layout :: pageTop">
	  </div>
      <p></p>
      <!-- Title -->
<p style="margin-bottom: 2.15em;"></p>
		<div class="row">
			<div class="small-12 text-left columns">
				<h5>Administration</h5>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-left columns">
				<p style="text-decoration: underline;">Principal investigators</p>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-justify columns">
				<ul class="no-bullet" style="padding-left: 16px; font-size: 14px;">
					<li>Christine Klein, MD, Institute of Neurogenetics,
						University of Lübeck, Lübeck, Germany</li>
					<li>Connie Marras, MD, PhD, Institute of Health Policy,
						Management and Evaluation, University of Toronto, Toronto, Canada</li>
					<li>Katja Lohmann, PhD, Institute of Neurogenetics, University
						of Lübeck, Lübeck, German</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-6 text-left columns">
				<p style="font-weight: bold;">Coordinators:</p>
				<p></p>
				<ul class="no-bullet" style="padding-left: 16px; font-size: 14px;">
					<li>Sonja Petkovic, PhD, University of Lübeck, Lübeck, Germany</li>
					<li>Jana Huang, BHS, Toronto Western Hospital, Ontario, Canada</li>
					<li>Ashar Rasheed, BHS, Toronto Western Hospital, Ontario,
						Canada</li>
				</ul>
				<p style="font-weight: bold;">Documentalist:</p>
				<p></p>
				<ul class="no-bullet" style="padding-left: 16px; font-size: 14px;">
					<li>Susen Schaake, BSc, University of Lübeck, Lübeck, Germany</li>
				</ul>
			</div>
			<div class="small-12 medium-6 text-left columns">
				<p style="font-weight: bold;">Programmer:</p>
				<p></p>
				<ul class="no-bullet" style="padding-left: 16px; font-size: 14px;">
					<li>Harutyun Madoev, MSc, University of Lübeck, Lübeck,
						Germany</li>
					<li>N.N.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-left columns">
				<h5>Website and scientific content</h5>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-justify columns">
				<p>
					The MDSGene website and database have been developed by members of
					the&#160;<a href="http://2014.neurogenetics-luebeck.de/" target="_blank">Institute
						of Neurogenetics</a> at the University of Lübeck, Germany. The content
					of MDSGene was collected in a collaborative effort by several
					international movement disorder research groups under supervision
					of the two coordinating centers at the University of Lübeck and at
					the University of Toronto. MDSGene gratefully acknowledges
					financial support from the&#160;<a href="http://www.movementdisorders.org/MDS.htm" target="_blank"> International Parkinson Disease and Movement Disorder Society</a> and from the&#160;<a href="http://www.possehl.de/index.php?id=14&amp;language=2" target="_blank">Possehl foundation</a> and
					received intramural funds from the University of Lübeck.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-left columns">
				<p style="font-weight: bold;">Content creation and updates:</p>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-justify columns">
				<ul class="no-bullet" style="padding-left: 16px; font-size: 14px;">
<li>Alcalay, Roy, MD, Columbia University, USA (PARK)</li>
<li>Balck, Alexander, MD, University of Lübeck, Germany (PFBC, PARK, CHOR)</li>
<li>Barrett, Matthew, MD, University of Virginia, USA (DYT/PARK)</li>
<li>Bonifati, Vincenzo, MD, PhD, Erasmus Medical Center, Netherlands (APD)</li>
<li>Borsche, Max, MD, University of Lübeck, Germany (PxMD, DYT/PARK, PARK)</li>
<li>Camargos, Sarah, MD, PhD, Federal University of Minas Gerai, Brazil (DYT/PARK)</li>
<li>Cambi, Franca, MD, PhD, University of Pittsburgh, USA (HSP)</li>
<li>Ce Kang, Kevin, BA, The University of Sydney Northern Clinical School, Australia (HSP)</li>
<li>Cooper, Christine, MD, Medical University of South Carolina, USA (DYT/PARK)</li>
<li>Cornejo-Olivas, Mario, MD, National Institute of Neurological Sciences, Peru (ATX)</li>
<li>Domingo, Aloysius, MD, PhD, Massachusetts General Hospital, USA (DYT/PARK)</li>
<li>Ebrahimi-Fakhari, Darius, MD, PhD, Boston Children's Hospital, USA (PxMD)</li>
<li>Farbman, Eric, MD, University of Nevada, USA (EA)</li>
<li>Grünewald, Anne, PhD, Université du Luxembourg, Luxembourg (PARK)</li>
<li>Hahn, Lisa, MD candidate, University of Lübeck, Germany (DYT/PARK)</li>
<li>Hamad, Moath, MD, University of Alberta Hospital, Canada (HSP)</li>
<li>Hattori, Nobutaka, MD, PhD, Juntendo University, Japan (PARK)</li>
<li>Heinzen Cox, Erin, PhD, Columbia University, USA (DYT/PARK)</li>
<li>Höglinger, Günter, MD, Technical University of Munich, Germany (APD)</li>
<li>Huang, Jana, BHS, Toronto Western Hospital, Canada (Coordinator)</li>
<li>Jecmenica-Lukic, Milica, MD, PhD, University of Belgrade, Serbia (APD)</li>
<li>Junker, Johanna, MD, University of Lübeck, Germany (DYT)</li>
<li>Kasten, Meike, MD, University of Lübeck, Germany (APD, PARK, Statistics)</li>
<li>Klein, Christine, MD, University of Lübeck, Germany (Principle Investigator)</li>
<li>Koning-Tijssen, Marina de, MD, University Medical Centre Groningen, Netherlands (DYT)</li>
<li>König, Inke, PhD, University of Lübeck, Germany (PARK, Statistics)</li>
<li>Kostić, Vladimir, MD, University of Belgrade, Serbia (DYT/PARK)</li>
<li>Kumar, Kishore, PhD, University of Sydney, Australia (HSP)</li>
<li>Lang, Anthony, MD, Toronto Western Hospital, Canada (PARK)</li>
<li>Lange, Lara, MD candidate, University of Lübeck, Germany (DYT)</li>
<li>Lembeck, Christina, MD candidate, University of Lübeck, Germany (APD, PARK)</li>
<li>Lohmann, Katja, PhD, University of Lübeck, Germany (Principle Investigator)</li>
<li>Löns, Sebastian, MD, University of Lübeck, Germany (DYT)</li>
<li>Madoev, Harutyun, MSc, University of Lübeck, Germany (Software engineer)</li>
<li>Margolesky, Jason, MD, University of Miami, USA (PFBC)</li>
<li>Marras, Connie, MD, PhD, Toronto Western Hospital, Canada (Principle Investigator)</li>
<li>Massa, Robyn, MD, University of Pittsburgh, USA (HSP)</li>
<li>Mehta, Shyamal, MD, PhD, Mayo Clinic Hospital, USA (EA)</li>
<li>Nabieva, Karina, BHSc candidate, Toronto Western Hospital, Canada (EA, HSP)</li>
<li>Oguh, Odinachi, MD, University of Florida Health, USA (DYT/PARK)</li>
<li>Olschewski, Luisa, MD candidate, University of Lübeck, Germany (DYT)</li>
<li>Ozelius, Laurie J., PhD, Massachusetts General Hospital, USA (DYT/PARK)</li>
<li>Patel, Neepa, MD, Henry Ford Hospital, USA (DYT/PARK)</li>
<li>Pauly, Martje, MD, University of Lübeck, Germany (DYT/PARK)</li>
<li>Petkovic, Sonja, PhD, University of Lübeck, Germany (Coordinator)</li>
<li>Rasheed, Ashar, BHSc, Toronto Western Hospital, Canada (PFBC)</li>
<li>Reginold, Jennifer, MD, Toronto Western Hospital, Canada (PARK)</li>
<li>Rosewich, Hendrik, MD, PhD, Universitätsmedizin Göttingen, Germany (DYT/PARK)</li>
<li>Rossi, Malco, MD, PhD, Fleni Foundation, Argentina (SCA, CMDCD)</li>
<li>Ruiz-Lopez, Marta, MD, Universidad Autónoma de Madrid, Spain (DYT, DYT/PARK, CHOR)</li>
<li>Saffari, Afshin, MD, University Heidelberg, Germany (PxMD)</li>
<li>San Luciano, Marta, MSc, MD, University of California, USA (DYT/PARK)</li>
<li>Schaake, Susen, BSc, University of Lübeck, Germany (Documentalist, Genetics, Pathoscoring)</li>
<li>Schell, Nathalie, MD, University of Lübeck, Germany (PARK)</li>
<li>Schröder, Simone, PhD, Universitätsmedizin Göttingen, Germany (DYT/PARK)</li>
<li>Shetty, Aakash, MD, Toronto Western Hospital, Canada (EA, HSP)</li>
<li>Stamelou, Maria, MD, PhD, Philipps University Marburg, Germany (APD)</li>
<li>Suchowersky, Oksana, MD, University of Alberta, Canada (HSP)</li>
<li>Sue, Carolyn, MD, Royal North Shore Hospital, Australia (PARK, APD)</li>
<li>Trinh, Joanne, PhD, University of Lübeck, Germany (EA, PARK, Genetics, Pathoscoring)</li>
<li>Usnich, Tatiana, MD, PhD, University of Lübeck, Germany (PARK)</li>
<li>Vollstedt, Eva-Juliane, MD, University of Lübeck, Germany (PARK, CHOR)</li>
<li>Vulinovic, Franca, PhD, University of Lübeck, Germany (PARK)</li>
<li>Walls, Zachary, BSc, Institute of Medical Research, Australia (HSP)</li>
<li>Waln, Olga, MD, Methodist Neurological Institute, USA (EA)</li>
<li>Warrenburg, Bart van de, MD, PhD, Radboud University Medical Centre, Netherlands (ATX)</li>
<li>Weißbach, Anne, MD, University of Lübeck, Germany (DYT/PARK, PARK)</li>
<li>Westenberger, Ana, PhD, University of Lübeck, Germany (PFBC, CHOR, DYT/PARK, Genetics, Pathoscoring)</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-left columns">
				<p style="text-decoration: underline;">Former team members:</p>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-justify columns">
				<ul class="no-bullet" style="padding-left: 16px; font-size: 14px;">
					<li>Andriy Mashychev, MSc</li>
					<li>Corinna Hartmann, MD</li>
					<li>Jennie Hampf, MD</li>
					<li>Christina M. Lill, MD, MSc</li>
					<li>Ingo Zorn, MSc</li>
					<li>Jan Poser, MD candidate</li>
					<li>Jason Massa, DO</li>
					<li>Juri Linz, MD candidate</li>
					<li>Lars Bertram, MD</li>
					<li>Shahad, Almuammar, MD</li>
					<li>Valerija Dobricic, PhD</li>
					<li>Zeldenrust, Florentine, MSc</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-left columns">
				<h5>Scientific advisory board</h5>
			</div>
		</div>
		<div class="row">
			<div class="small-12 text-justify columns">
				<p style="margin-bottom: 0.15rem;">Kailash P. Bhatia, MD, DM,
					FRCP, Sobell Department for Movement Neuroscience, UCL, Institute
					of Neurology, Queen Square, London, United Kingdom</p>
				<p style="margin-bottom: 0.15rem;">Susan B. Bressman, MD,
					Department of Neurology, Beth Israel Medical Center, New York, NY,
					USA</p>
				<p style="margin-bottom: 0.15rem;">Matthew J. Farrer, PhD,
					Centre for Applied Neurogenetics, Djavad Mowafaghian Centre for
					Brain Health, Department of Medical Genetics, University of British
					Columbia, Vancouver, BC, Canada</p>
				<p style="margin-bottom: 0.15rem;">Marcelo Merello, MD, PhD,
					Movement Disorders Section, Neuroscience Department, Raul Carrea
					Institute for Neurological Research (FLENI), Ciudad Autónoma de
					Buenos Aires; Argentine National Scientific and Technological
					Research Council (CONICET), Buenos Aires, Argentina</p>
				<p style="margin-bottom: 0.15rem;">Laurie J. Ozelius, PhD,
					Department of Neurology, Massachusetts General Hospital, Boston,
					MA, USA</p>
				<p>Eng‐King Tan, MD, Department of Neurology, Singapore General
					Hospital; National Neuroscience Institute and Duke‐NUS Graduate
					Medical School, Singapore</p>
			</div>
		</div>
		<p style="margin-bottom: 1.3em;"></p>
		<p style="margin-bottom: 0.55em;"></p>      
	  <!-- End -->      
    </div>
    <div class="row">
      <div class="small-12 text-center columns" id="footer-copyright">
          © University of Lübeck. Last updated on <span th:text="${@environment.getProperty('version.info')}"></span> 
      </div>
    </div>
    <div id="global_modal_dialog" class="reveal-modal medium" data-reveal="data-reveal"></div>
    <noscript>
      <div id="noscript-warning">
        MDSGene works best with JavaScript enabled. Please follow
        <a rel="nofollow" target="_blank" href="http://www.enable-javascript.com/" style="color: #FFFFFF; text-decoration:underline;">
          these instructions
        </a> to activate JavaScript in your web browser.
      </div>
    </noscript>
  </body>
</html>
