<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10"><![endif]-->
<html  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/layout :: headerFragment">
    <title id="pageTitle">MDSGene</title>
    <!-- other elements you want to reference in your layout -->
  </head>
<body>
    <div id="wrap-everything">
	  <div th:include="fragments/layout :: pageTop">
	  </div>
      <p></p>
      <!-- Title -->
        <p style="margin-bottom: 2.15em;"></p>
      <div class="row">
  <div class="small-12 text-left columns"><h5>About	MDS</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      The International Parkinson and Movement Disorder Society ("MDS") is a nonprofit, professional
      society of clinicians, scientists and other healthcare professionals dedicated to improving the
      care of patients with movement disorders through education and research. MDS is tax exempt under
      Section 501(c)(3) of the Internal Revenue Code.  MDS undertakes its activities in accordance with
      its nonprofit and tax exempt status and all applicable laws.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 text-left columns"><h5>Liability for contents of online information</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      MDS makes every effort to provide timely and accurate information on the MDSGene Web site.
      Nevertheless, errors and inaccuracies cannot be completely ruled out. The Movement Disorder
      Society Genetic mutation database ("MDSGene") is provided "as is" and MDS does not assume any
      liability for the relevance, accuracy, completeness or quality of the information provided. MDS,
      its officers, directors, members, employees and agents, make no warranties or representations,
      express or implied, oral or in writing, with respect to MDSGene, including its fitness for a
      particular purpose, merchantability, quality or its non-infringement. MDS, its officers,
      directors, members, employees and agents, will not be liable for any damages, including indirect,
      special, incidental, consequential or punitive damages (including lost profits and lost data)
      arising out of the use or failure to use the information offered and/or through the use of faulty
      or incomplete information.  MDS reserves the right to modify, supplement, or delete any or all of
      the information offered on its MDSGene Internet site, or to temporarily or permanently cease
      publication thereof without prior and separate notification.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 text-left columns"><h5>Links to internet sites of third parties</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      This MDSGene Internet site includes links to external pages. The respective provider shall be
      responsible for the contents of any linked external pages. In establishing the initial link, MDS
      has reviewed the respective external content in order to determine whether such link entailed
      possible civil or criminal responsibility. However, a constant review of linked external pages is
      unreasonable without concrete reason to believe that a violation of the law may be involved. If
      MDS determines such or it is pointed out by others that an external offer to which it is connected
      via a link entails civil or criminal responsibility, then MDS will immediately eliminate any link
      to this offer. MDS expressly dissociates itself from such contents.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 text-left columns"><h5>Pop-up advertisements</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      When visiting this Web site, some Web browsers may produce pop-up advertisements. These
      advertisements were most likely produced by other Web sites previously visited or by third party
      software installed on the respective computer. MDS does not endorse or recommend products or
      services for which a pop-up advertisement may appear on the respective computer screen while
      visiting this site.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 text-left columns"><h5>Medical information</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      It is not the intention of this Web site to provide specific medical advice for patients but
      rather to provide researchers and physicians with information to better understand the phenotypic
      spectrum associated with specific genetic mutations.  MDS does not give medical advice or engage
      in the practice of medicine.  MDS under no circumstances recommends particular treatment for
      specific individuals and in all cases recommends consulting a qualified physician for diagnosis
      and prior to pursuing any course of treatment.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 text-left columns"><h5>Copyright</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      All materials on this Website, including MDSGene, are owned or licensed by MDS and are protected
      under the copyright laws of the United States, the laws of other countries, and applicable
      international treaties and conventions. Any reproduction, retransmission, or republication of all
      or part of any materials on this site without the prior written consent of MDS is expressly
      prohibited.<br/>Copyright, 2016, International Parkinson and Movement Disorder Society. All rights
      reserved.
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 text-left columns"><h5>Data protection</h5></div>
</div>
<div class="row">
  <div class="small-12 text-justify columns">
    <p>
      When you visit MDSGene, our web server automatically records the IP address of your internet service provider, the website from which you visit us, the web pages on MDSGene you visit and the date and duration of your visit. This is done for the purpose of optimizing our website to meet your needs and to increase its user friendliness.
    </p>
  </div>
</div>
<p style="margin-bottom: 1.3em;"></p>

      <p style="margin-bottom: 0.55em;"></p>
    </div>
    <div class="row">
      <div class="small-12 text-center columns" id="footer-copyright">
          © University of Lübeck. Last updated on <span th:text="${@environment.getProperty('version.info')}"></span> 
      </div>
    </div>
    <div id="global_modal_dialog" class="reveal-modal medium" data-reveal="data-reveal"></div>
    <noscript>
      <div id="noscript-warning">
        MDSGene works best with JavaScript enabled. Please follow
        <a rel="nofollow" target="_blank" href="http://www.enable-javascript.com/" style="color: #FFFFFF; text-decoration:underline;">
          these instructions
        </a> to activate JavaScript in your web browser.
      </div>
    </noscript>
  </body>
</html>
