<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title> Geriatric Depression Scale</title>
<!-- css files -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="../fonts/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/registration-style.css"/>
<link rel="stylesheet" type="text/css" href="../css/elements.css"/>
<!-- Bootstrap Timepicker CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../css/check-ecrf-minimal.css"/>
<!-- jquery library --> 
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script> 
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/survey.js"></script>
<!-- Bootstrap Timepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="../js/check-ecrf-minimal.js"></script>
<script  type="text/javascript">
$(document).ready(function(){     $('.timepicker').timepicker({
        showInputs: false,
        showMeridian: false
    });});
</script>
<style>
#logo {
    display: block;
    margin: auto;
}
.minimal-radio {
    color: #E07800;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.core-radio {
    color: #E07800;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.form-group.has-minimal > label {
    color: #263C49;
    /* You can add any other CSS properties here to style the label. */
}
.form-group.has-core > label {
    color: #263C49;
    /* You can add any other CSS properties here to style the label. */
}
.progress .progress-bar {
    background-image: linear-gradient(to bottom, #E07800 0, #E07800 100%) !important;
}
.survey-button {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 6px;
    background-color: #3A91B6;
    background-position: center center;
    border-color: #3A91B6;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.has-minimal .form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.has-core .form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}


.header-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.move-up-first-header {
    margin-top: 70px;
}


.move-down-header {
    margin-bottom: 35px;
}


.move-up-header {
    margin-top: 55px;
}


.move-down-subheader {
    margin-bottom: 10px;
}


.move-up-subheader {
    margin-top: 40px;
}

.move-up-yes-no {
    margin-top: 5px;
}

.move-down-yes-no {
    margin-bottom: 30px;
}

.move-down-text {
    margin-bottom: 30px;
}

h4 {
    line-height: 1.78;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 40px;
}

.active-tab {
    background-color: #23527c!important;
    color: #fff!important;
}

.less-bold-left-justified {
    text-align: left!important;
    /*padding-left: 30px!important;*/
    color: #000; /* replace it with your color code */
    font-size: 20px; /* adjust based on your needs */
    font-weight: normal; /* Use 'bold' for bold font, 'normal' for less bold  */
}

nav.navbar-nav {
    margin-bottom: 50px;
}

.instruction {
    font-weight: normal;
}

.nav-justified {
    padding-top: 50px;
    padding-bottom: 100px;
}

.specific-list li {
    display: block;
    margin-bottom: 10px;
}

.specific-list input[type="radio"] {
    margin-right: 5px;
}

.specific-list label {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.completed {
     color: green;
 }
.uncompleted {
    color: red;
}

</style>
</head>

<body>
<img border="0" id="logo" name="logo" alt="Movement Disorder Society Genetic mutation database" src="../assets/fmjfox.png" />
<div class="registration-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">
<div style="font-size: 18px;color: #8a6d3b; background-color: antiquewhite; border: burlywood 3px solid;border-radius: 5px;">
    <div style="padding: 10px 10px 0px">
        Data entered into this eCRF are automatically saved
    </div>
    <div style="padding: 0px 10px 10px">
        The contributor will also be able to return at a future date to view
        and/or edit the eCRF should new information regarding the patient/family become available
    </div>
</div>
        <br/>
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">
          <span style="color: #133957" th:text="${'Local ID: ' + centerId}" th:if="${centerId}"></span><br/>
          <span style="color: #133957" th:text="${'Project ID: ' + projectId}" th:if="${projectId}"></span>
</div>
        <form accept-charset="UTF-8" class="registration-form onlyForm" method="post" th:object="${formObj}" th:id="${formObj.surveyTwoId}" >
<input type='hidden' id="filling_status" th:field="${formObj.fillingStatus}"/><div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">        <div class="top-box text-left">
          <h2 class="title">Geriatric Depression Scale</h2>
        </div>  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%;background-image: linear-gradient(to bottom,#33A371 0,#33A371 100%)">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
	<div class="alert alert-warning" role="alert">
  	   <strong>Warning:</strong> The minimal dataset is not complete yet. Please be reminded that to complete the minimal dataset is mandatory in order to have samples processed for analysis. Please continue or come back when you can complete at least the minimal dataset.
	</div>
</div>          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-up-first-header move-down-header" >
                <label namelabel="gds_ex" class="" for="">GDS completed</label>
                
		<ul class="listing minimal-radio ">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds_ex}" type="radio" name1="gds_ex" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds_ex}" type="radio" name1="gds_ex" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="gds_headline2" class="instruction">Choose the best answer for how you have felt over the past week.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds1" class="" for="">1. Are you basically satisfied with your life?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds1}" type="radio" name1="gds1" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds1}" type="radio" name1="gds1" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds2" class="" for="">2. Have you dropped many of your activities and interests?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds2}" type="radio" name1="gds2" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds2}" type="radio" name1="gds2" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds3" class="" for="">3. Do you feel that your life is empty?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds3}" type="radio" name1="gds3" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds3}" type="radio" name1="gds3" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds4" class="" for="">4. Do you often get bored?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds4}" type="radio" name1="gds4" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds4}" type="radio" name1="gds4" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds5" class="" for="">5. Are you in good spirits most of the time?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds5}" type="radio" name1="gds5" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds5}" type="radio" name1="gds5" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds6" class="" for="">6. Are you afraid that something bad is going to happen to you?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds6}" type="radio" name1="gds6" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds6}" type="radio" name1="gds6" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds7" class="" for="">7. Do you feel happy most of the time?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds7}" type="radio" name1="gds7" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds7}" type="radio" name1="gds7" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds8" class="" for="">8. Do you often feel helpless?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds8}" type="radio" name1="gds8" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds8}" type="radio" name1="gds8" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds9" class="" for="">9. Do you prefer to stay at home, rather than going out and doing new things?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds9}" type="radio" name1="gds9" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds9}" type="radio" name1="gds9" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds10" class="" for="">10. Do you feel you have more problems with memory than most?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds10}" type="radio" name1="gds10" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds10}" type="radio" name1="gds10" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds11" class="" for="">11. Do you think it is wonderful to be alive now?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds11}" type="radio" name1="gds11" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds11}" type="radio" name1="gds11" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds12" class="" for="">12. Do you feel pretty worthless the way you are now?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds12}" type="radio" name1="gds12" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds12}" type="radio" name1="gds12" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds13" class="" for="">13. Do you feel full of energy?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds13}" type="radio" name1="gds13" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds13}" type="radio" name1="gds13" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds14" class="" for="">14. Do you feel that your situation is hopeless?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds14}" type="radio" name1="gds14" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds14}" type="radio" name1="gds14" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="gds15" class="" for="">15. Do you think that most people are better off than you are?</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds15}" type="radio" name1="gds15" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">no</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Gds15}" type="radio" name1="gds15" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> yes</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
        </form>
<div id="upload-progress" style='display:none'><div class="progress-bar-1" style="display:none"></div></div> <!-- Progress bar added -->    <div class="selectedDrogsChildren">
                    <span th:each="formChild: ${formD}"
                          th:text="${formChild.name}"
                          th:class="${formChild.name}"
                          style="display:none;"
                    ></span>
    </div>

            </div>
    </div>
  </div>
</div>

<script  type="text/javascript">
function __main__() {
//begin gds_headline2
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds_headline2",true,"null",null);
else hide("gds_headline2",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds_headline2",false,"null",null);
 else  hide("gds_headline2",false);
  } else hide("gds_headline2",false);
 }
//end gds_headline2
//begin gds1
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds1",true,"null",null);
else hide("gds1",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds1",false,"null",null);
 else  hide("gds1",false);
  } else hide("gds1",false);
 }
//end gds1
//begin gds2
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds2",true,"null",null);
else hide("gds2",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds2",false,"null",null);
 else  hide("gds2",false);
  } else hide("gds2",false);
 }
//end gds2
//begin gds3
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds3",true,"null",null);
else hide("gds3",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds3",false,"null",null);
 else  hide("gds3",false);
  } else hide("gds3",false);
 }
//end gds3
//begin gds4
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds4",true,"null",null);
else hide("gds4",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds4",false,"null",null);
 else  hide("gds4",false);
  } else hide("gds4",false);
 }
//end gds4
//begin gds5
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds5",true,"null",null);
else hide("gds5",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds5",false,"null",null);
 else  hide("gds5",false);
  } else hide("gds5",false);
 }
//end gds5
//begin gds6
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds6",true,"null",null);
else hide("gds6",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds6",false,"null",null);
 else  hide("gds6",false);
  } else hide("gds6",false);
 }
//end gds6
//begin gds7
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds7",true,"null",null);
else hide("gds7",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds7",false,"null",null);
 else  hide("gds7",false);
  } else hide("gds7",false);
 }
//end gds7
//begin gds8
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds8",true,"null",null);
else hide("gds8",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds8",false,"null",null);
 else  hide("gds8",false);
  } else hide("gds8",false);
 }
//end gds8
//begin gds9
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds9",true,"null",null);
else hide("gds9",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds9",false,"null",null);
 else  hide("gds9",false);
  } else hide("gds9",false);
 }
//end gds9
//begin gds10
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds10",true,"null",null);
else hide("gds10",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds10",false,"null",null);
 else  hide("gds10",false);
  } else hide("gds10",false);
 }
//end gds10
//begin gds11
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds11",true,"null",null);
else hide("gds11",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds11",false,"null",null);
 else  hide("gds11",false);
  } else hide("gds11",false);
 }
//end gds11
//begin gds12
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds12",true,"null",null);
else hide("gds12",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds12",false,"null",null);
 else  hide("gds12",false);
  } else hide("gds12",false);
 }
//end gds12
//begin gds13
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds13",true,"null",null);
else hide("gds13",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds13",false,"null",null);
 else  hide("gds13",false);
  } else hide("gds13",false);
 }
//end gds13
//begin gds14
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds14",true,"null",null);
else hide("gds14",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds14",false,"null",null);
 else  hide("gds14",false);
  } else hide("gds14",false);
 }
//end gds14
//begin gds15
//condition display only if "yes" is checked in item "gds_ex"
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds15",true,"null",null);
else hide("gds15",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds15",false,"null",null);
 else  hide("gds15",false);
  } else hide("gds15",false);
 }
//end gds15
minimum_part_filled_out();
    } __main__(); 
$('#gds_ex,input[name="gds_ex"]').on('change', function() {if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds_headline2",true,"null",null);
else hide("gds_headline2",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds_headline2",false,"null",null);
 else  hide("gds_headline2",false);
  } else hide("gds_headline2",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds1",true,"null",null);
else hide("gds1",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds1",false,"null",null);
 else  hide("gds1",false);
  } else hide("gds1",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds2",true,"null",null);
else hide("gds2",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds2",false,"null",null);
 else  hide("gds2",false);
  } else hide("gds2",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds3",true,"null",null);
else hide("gds3",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds3",false,"null",null);
 else  hide("gds3",false);
  } else hide("gds3",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds4",true,"null",null);
else hide("gds4",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds4",false,"null",null);
 else  hide("gds4",false);
  } else hide("gds4",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds5",true,"null",null);
else hide("gds5",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds5",false,"null",null);
 else  hide("gds5",false);
  } else hide("gds5",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds6",true,"null",null);
else hide("gds6",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds6",false,"null",null);
 else  hide("gds6",false);
  } else hide("gds6",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds7",true,"null",null);
else hide("gds7",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds7",false,"null",null);
 else  hide("gds7",false);
  } else hide("gds7",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds8",true,"null",null);
else hide("gds8",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds8",false,"null",null);
 else  hide("gds8",false);
  } else hide("gds8",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds9",true,"null",null);
else hide("gds9",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds9",false,"null",null);
 else  hide("gds9",false);
  } else hide("gds9",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds10",true,"null",null);
else hide("gds10",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds10",false,"null",null);
 else  hide("gds10",false);
  } else hide("gds10",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds11",true,"null",null);
else hide("gds11",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds11",false,"null",null);
 else  hide("gds11",false);
  } else hide("gds11",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds12",true,"null",null);
else hide("gds12",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds12",false,"null",null);
 else  hide("gds12",false);
  } else hide("gds12",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds13",true,"null",null);
else hide("gds13",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds13",false,"null",null);
 else  hide("gds13",false);
  } else hide("gds13",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds14",true,"null",null);
else hide("gds14",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds14",false,"null",null);
 else  hide("gds14",false);
  } else hide("gds14",false);
 }
if (length("gds_ex") > 0 ? isvisible("gds_ex", true) : false )
{ if (check("gds_ex","yes"))
 show("gds15",true,"null",null);
else hide("gds15",true);
} else {
if (isvisible2("gds_ex", false)) {
 if (check2("gds_ex","yes"))
  show("gds15",false,"null",null);
 else  hide("gds15",false);
  } else hide("gds15",false);
 }
});

</script>
</body>
</html>
