<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title> MDSUPDRS IV</title>
<!-- css files -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="../fonts/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/registration-style.css"/>
<link rel="stylesheet" type="text/css" href="../css/elements.css"/>
<!-- Bootstrap Timepicker CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../css/check-ecrf-minimal.css"/>
<!-- jquery library --> 
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script> 
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/survey.js"></script>
<!-- Bootstrap Timepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="../js/check-ecrf-minimal.js"></script>
<script  type="text/javascript">
$(document).ready(function(){     $('.timepicker').timepicker({
        showInputs: false,
        showMeridian: false
    });});
</script>
<style>
#logo {
    display: block;
    margin: auto;
}
.minimal-radio {
    color: #E07800;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.core-radio {
    color: #E07800;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.form-group.has-minimal > label {
    color: #263C49;
    /* You can add any other CSS properties here to style the label. */
}
.form-group.has-core > label {
    color: #263C49;
    /* You can add any other CSS properties here to style the label. */
}
.progress .progress-bar {
    background-image: linear-gradient(to bottom, #E07800 0, #E07800 100%) !important;
}
.survey-button {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 6px;
    background-color: #3A91B6;
    background-position: center center;
    border-color: #3A91B6;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.has-minimal .form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.has-core .form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}


.header-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.move-up-first-header {
    margin-top: 70px;
}


.move-down-header {
    margin-bottom: 35px;
}


.move-up-header {
    margin-top: 55px;
}


.move-down-subheader {
    margin-bottom: 10px;
}


.move-up-subheader {
    margin-top: 40px;
}

.move-up-yes-no {
    margin-top: 5px;
}

.move-down-yes-no {
    margin-bottom: 30px;
}

.move-down-text {
    margin-bottom: 30px;
}

h4 {
    line-height: 1.78;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 40px;
}

.active-tab {
    background-color: #23527c!important;
    color: #fff!important;
}

.less-bold-left-justified {
    text-align: left!important;
    /*padding-left: 30px!important;*/
    color: #000; /* replace it with your color code */
    font-size: 20px; /* adjust based on your needs */
    font-weight: normal; /* Use 'bold' for bold font, 'normal' for less bold  */
}

nav.navbar-nav {
    margin-bottom: 50px;
}

.instruction {
    font-weight: normal;
}

.nav-justified {
    padding-top: 50px;
    padding-bottom: 100px;
}

.specific-list li {
    display: block;
    margin-bottom: 10px;
}

.specific-list input[type="radio"] {
    margin-right: 5px;
}

.specific-list label {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.completed {
     color: green;
 }
.uncompleted {
    color: red;
}

</style>
</head>

<body>
<img border="0" id="logo" name="logo" alt="Movement Disorder Society Genetic mutation database" src="../assets/fmjfox.png" />
<div class="registration-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">
<div style="font-size: 18px;color: #8a6d3b; background-color: antiquewhite; border: burlywood 3px solid;border-radius: 5px;">
    <div style="padding: 10px 10px 0px">
        Data entered into this eCRF are automatically saved
    </div>
    <div style="padding: 0px 10px 10px">
        The contributor will also be able to return at a future date to view
        and/or edit the eCRF should new information regarding the patient/family become available
    </div>
</div>
        <br/>
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">
          <span style="color: #133957" th:text="${'Local ID: ' + centerId}" th:if="${centerId}"></span><br/>
          <span style="color: #133957" th:text="${'Project ID: ' + projectId}" th:if="${projectId}"></span>
</div>
        <form accept-charset="UTF-8" class="registration-form onlyForm" method="post" th:object="${formObj}" th:id="${formObj.surveyTwoId}" >
<input type='hidden' id="filling_status" th:field="${formObj.fillingStatus}"/><div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">        <div class="top-box text-left">
          <h2 class="title">MDSUPDRS IV</h2>
        </div>  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%;background-image: linear-gradient(to bottom,#33A371 0,#33A371 100%)">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
	<div class="alert alert-warning" role="alert">
  	   <strong>Warning:</strong> The minimal dataset is not complete yet. Please be reminded that to complete the minimal dataset is mandatory in order to have samples processed for analysis. Please continue or come back when you can complete at least the minimal dataset.
	</div>
</div>          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-up-first-header move-down-header" >
                <label id="mdsupdrs_4_headline2" class="header-label">A. DYSKINESIAS [exclusive of OFF-state dystonia]</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-down-subheader" >
                <label id="mdsupdrs_4_ts_d_heading" class="subheader">TIME SPENT WITH DYSKINESIAS</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_ts_d_instructions_ex" class="instruction">Instructions to examiner: Determine the hours in the usual waking day and then the hours of dyskinesias. Calculate the percentage. If the patient has dyskinesias in the office, you can point them out as a reference to ensure that patients and caregivers understand what they are rating. You may also use your own acting skills to enact the dyskinetic movements you have seen in the patient before or show them dyskinetic movements typical of other patients. Exclude from this question early morning and nighttime painful dystonia.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_ts_d_instructions_pat" class="instruction">Instructions to patient [and caregiver]: Over the past week, how many hours do you usually sleep on a daily basis, including nighttime sleep and daytime napping? Alright, if you sleep ___ hrs, you are awake ____ hrs. Out of those awake hours, how many hours in total do you have wiggling, twitching or jerking movements? Do not count the times when you have tremor, which is a regular back and forth shaking or times when you have painful foot cramps or spasms in the early morning or at nighttime. I will ask about those later. Concentrate only on these types of wiggling, jerking and irregular movements. Add up all the time during the waking day when these usually occur. How many hours ____ (use this number for your calculations).</label>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class=""></label>
                <select class="form-control" id="mdsupdrs_4_ts_d" th:field="${formObj.Mdsupdrs_4_ts_d}" onchange="__main__()" >
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_d == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_d == ' 0 = No dyskinesias')}" value=' 0 = No dyskinesias'> 0 = No dyskinesias</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_d == ' 1 = &lt;/=25% of waking day')}" value=' 1 = &lt;/=25% of waking day'> 1 = &lt;/=25% of waking day</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_d == ' 2 = 26 - 50% of waking day')}" value=' 2 = 26 - 50% of waking day'> 2 = 26 - 50% of waking day</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_d == ' 3 = 51 - 75% of waking day')}" value=' 3 = 51 - 75% of waking day'> 3 = 51 - 75% of waking day</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_d == ' 4 = >75% of waking day.')}" value=' 4 = >75% of waking day.'> 4 = >75% of waking day.</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-up-subheader move-down-subheader" >
                <label id="mdsupdrs_4_fi_d_heading" class="subheader">FUNCTIONAL IMPACT OF DYSKINESIAS</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_fi_d_instructions_ex" class="instruction">Instructions to examiner: Determine the degree to which dyskinesias impact on the patient’s daily function in terms of activities and social interactions. Use the patient’s and caregiver’s response to your question and your own observations during the office visit to arrive at the best answer.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_fi_d_instructions_pat" class="instruction">Instructions to patient [and caregiver]: Over the past week, did you usually have trouble doing things or being with people when these jerking movements occurred? Did they stop you from doing things or from being with people?</label>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class=""></label>
                <select class="form-control" id="mdsupdrs_4_fi_d" th:field="${formObj.Mdsupdrs_4_fi_d}" onchange="__main__()" >
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_d == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_d == ' 0 = No dyskinesias or no impact by dyskinesias on activities or social interactions.')}" value=' 0 = No dyskinesias or no impact by dyskinesias on activities or social interactions.'> 0 = No dyskinesias or no impact by dyskinesias on activities or social interactions.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_d == ' 1 = Dyskinesias impact on a few activities, but the patient usually performs all activities and participates in all social interactions during dyskinetic periods.')}" value=' 1 = Dyskinesias impact on a few activities, but the patient usually performs all activities and participates in all social interactions during dyskinetic periods.'> 1 = Dyskinesias impact on a few activities, but the patient usually performs all activities and participates in all social interactions during dyskinetic periods.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_d == ' 2 = Dyskinesias impact on many activities, but the patient usually performs all activities and participates in all social interactions during dyskinetic periods.')}" value=' 2 = Dyskinesias impact on many activities, but the patient usually performs all activities and participates in all social interactions during dyskinetic periods.'> 2 = Dyskinesias impact on many activities, but the patient usually performs all activities and participates in all social interactions during dyskinetic periods.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_d == ' 3 = Dyskinesias impact on activities to the point that the patient usually does not perform some activities or does not usually participate in some social activities during dyskinetic episodes.')}" value=' 3 = Dyskinesias impact on activities to the point that the patient usually does not perform some activities or does not usually participate in some social activities during dyskinetic episodes.'> 3 = Dyskinesias impact on activities to the point that the patient usually does not perform some activities or does not usually participate in some social activities during dyskinetic episodes.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_d == ' 4 = Dyskinesias impact on function to the point that the patient usually does not perform most activities or participate in most social interactions during dyskinetic episodes.')}" value=' 4 = Dyskinesias impact on function to the point that the patient usually does not perform most activities or participate in most social interactions during dyskinetic episodes.'> 4 = Dyskinesias impact on function to the point that the patient usually does not perform most activities or participate in most social interactions during dyskinetic episodes.</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-down-header move-up-header" >
                <label id="mdsupdrs_4_headline3" class="header-label">B. MOTOR FLUCTUATIONS</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-down-subheader" >
                <label id="mdsupdrs_4_ts_os_heading" class="subheader">TIME SPENT IN THE OFF STATE</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_ts_os_instructions_ex" class="instruction">Instructions to examiner: Use the number of waking hours derived from the section TIME SPENT WITH DYSKINESIAS and determine the hours spent in the “OFF” state. Calculate the percentage. If the patient has an OFF period in the office, you can point to this state as a reference. You may also use your knowledge of the patient to describe a typical OFF period. Additionally you may use your own acting skills to enact an OFF period you have seen in the patient before or show them OFF function typical of other patients. Mark down the typical number of OFF hours, because you will need this number for completing the section PAINFUL OFF-STATE DYSTONIA.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_ts_os_instructions_pat" class="instruction">Instructions to patient [and caregiver]: Some patients with Parkinson’s disease have a good effect from their medications throughout their awake hours and we call that “ON” time. Other patients take their medications but still have some hours of low time, bad time, slow time or shaking time. Doctors call these low periods “OFF” time. Over the past week, you told me before that you are general awake ____ hrs each day. Out of these awake hours, how many hours in total do you usually have this type of low level or OFF function ____ (use this number for your calculations).</label>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class=""></label>
                <select class="form-control" id="mdsupdrs_4_ts_os" th:field="${formObj.Mdsupdrs_4_ts_os}" onchange="__main__()" >
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_os == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_os == ' 0 = No OFF time.')}" value=' 0 = No OFF time.'> 0 = No OFF time.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_os == ' 1 = &lt;= 25% of waking day.,')}" value=' 1 = &lt;= 25% of waking day.,'> 1 = &lt;= 25% of waking day.,</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_os == ' 2 = 26 - 50% of waking day.')}" value=' 2 = 26 - 50% of waking day.'> 2 = 26 - 50% of waking day.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_os == ' 3 = 51 - 75% of waking day.')}" value=' 3 = 51 - 75% of waking day.'> 3 = 51 - 75% of waking day.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_ts_os == ' 4 = >75% of waking day')}" value=' 4 = >75% of waking day'> 4 = >75% of waking day</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-up-subheader move-down-subheader" >
                <label id="mdsupdrs_4_fi_f_heading" class="subheader">FUNCTIONAL IMPACT OF FLUCTUATIONS</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_fi_f_instructions_ex" class="instruction">Instructions to examiner: Determine the degree to which motor fluctuations impact on the patient’s daily function in terms of activities and social interactions. This question concentrates on the difference between the ON state and the OFF state. If the patient has no OFF time, the rating must be 0, but if patients have very mild fluctuations, it is still possible to be rated 0 on this item if no impact on activities occurs. Use the patient’s and caregiver’s response to your question and your own observations during the office visit to arrive at the best answer.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_fi_f_instructions_pat" class="instruction">Instructions to patient [and caregiver]: Think about when those low or “OFF” periods have occurred over the past week. Do you usually have more problems doing things or being with people than compared to the rest of the day when you feel your medications working? Are there some things you usually do during a good period that you have trouble with or stop doing during a low period?</label>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class=""></label>
                <select class="form-control" id="mdsupdrs_4_fi_f" th:field="${formObj.Mdsupdrs_4_fi_f}" onchange="__main__()" >
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_f == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_f == ' 0 = No fluctuations or No impact by fluctuations on performance of activities or social interactions.')}" value=' 0 = No fluctuations or No impact by fluctuations on performance of activities or social interactions.'> 0 = No fluctuations or No impact by fluctuations on performance of activities or social interactions.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_f == ' 1 = Fluctuations impact on a few activities, but during OFF, the patient usually performs all activities and participates in all social interactions that typically occur during the ON state.')}" value=' 1 = Fluctuations impact on a few activities, but during OFF, the patient usually performs all activities and participates in all social interactions that typically occur during the ON state.'> 1 = Fluctuations impact on a few activities, but during OFF, the patient usually performs all activities and participates in all social interactions that typically occur during the ON state.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_f == ' 2 = Fluctuations impact many activities, but during OFF, the patient still usually performs all activities and participates in all social interactions that typically occur during the ON state.')}" value=' 2 = Fluctuations impact many activities, but during OFF, the patient still usually performs all activities and participates in all social interactions that typically occur during the ON state.'> 2 = Fluctuations impact many activities, but during OFF, the patient still usually performs all activities and participates in all social interactions that typically occur during the ON state.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_f == ' 3 = Fluctuations impact on the performance of activities during OFF to the point that the patient usually does not perform some activities or participate in some social interactions that are performed during ON periods.')}" value=' 3 = Fluctuations impact on the performance of activities during OFF to the point that the patient usually does not perform some activities or participate in some social interactions that are performed during ON periods.'> 3 = Fluctuations impact on the performance of activities during OFF to the point that the patient usually does not perform some activities or participate in some social interactions that are performed during ON periods.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_fi_f == ' 4 = Fluctuations impact on function to the point that, during OFF, the patient usually does not perform most activities or participate in most social interactions that are performed during ON periods.')}" value=' 4 = Fluctuations impact on function to the point that, during OFF, the patient usually does not perform most activities or participate in most social interactions that are performed during ON periods.'> 4 = Fluctuations impact on function to the point that, during OFF, the patient usually does not perform most activities or participate in most social interactions that are performed during ON periods.</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-up-subheader move-down-subheader" >
                <label id="mdsupdrs_4_c_mf_heading" class="subheader">COMPLEXITY OF MOTOR FLUCTUATIONS</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_c_mf_instructions_ex" class="instruction">Instructions to examiner: Determine the usual predictability of OFF function whether due to dose, time of day, food intake or other factors. Use the information provided by the patients and caregiver and supplement with your own observations. You will ask if the patient can count on them always coming at a special time, mostly coming at a special time (in which case you will probe further to separate slight from mild), only sometimes coming at a special time or are they totally unpredictable? Narrowing down the percentage will allow you to find the correct answer.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_c_mf_instructions_pat" class="instruction">Instructions to patient [and caregiver]: For some patients, the low or “OFF” periods happen at certain times during day or when they do activities like eating or exercising. Over the past week, do you usually know when your low periods will occur? In other words, do your low periods always come at a certain time? Do they mostly come at a certain time? Do they only sometimes come at a certain time? Are your low periods totally unpredictable?</label>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class=""></label>
                <select class="form-control" id="mdsupdrs_4_c_mf" th:field="${formObj.Mdsupdrs_4_c_mf}" onchange="__main__()" >
                  <option th:selected="${(formObj.Mdsupdrs_4_c_mf == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_c_mf == ' 0 = No motor fluctuations.')}" value=' 0 = No motor fluctuations.'> 0 = No motor fluctuations.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_c_mf == ' 1 = OFF times are predictable all or almost all of the time (>75%).')}" value=' 1 = OFF times are predictable all or almost all of the time (>75%).'> 1 = OFF times are predictable all or almost all of the time (>75%).</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_c_mf == ' 2 = OFF times are predictable most of the time (51-75%).')}" value=' 2 = OFF times are predictable most of the time (51-75%).'> 2 = OFF times are predictable most of the time (51-75%).</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_c_mf == ' 3 = OFF times are predictable some of the time (26-50%).')}" value=' 3 = OFF times are predictable some of the time (26-50%).'> 3 = OFF times are predictable some of the time (26-50%).</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_c_mf == ' 4 = OFF episodes are rarely predictable (&lt;=25%).')}" value=' 4 = OFF episodes are rarely predictable (&lt;=25%).'> 4 = OFF episodes are rarely predictable (&lt;=25%).</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-down-header move-up-header" >
                <label id="mdsupdrs_4_headline4" class="header-label">C. "OFF" DYSTONIA</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-down-subheader" >
                <label id="mdsupdrs_4_posd_heading" class="subheader">Painful OFF-state dystonia ((total OFF hours w/dystonia/total hours awake)*100)</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_posd_instructions_ex" class="instruction">Instructions to examiner: For patients who have motor fluctuations, determine what proportion of the OFF episodes usually includes painful dystonia? You have already determined the number of hours of “OFF” time (section TIME SPENT IN THE OFF STATE). Of these hours, determine how many are associated with dystonia and calculate the percentage. If there is no OFF time, mark 0.</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_posd_instructions_pat" class="instruction">Instructions to patient [and caregiver]: In one of the questions I asked earlier, you said you generally have ____ hours of low or “OFF” time when your Parkinson's disease is under poor control. During these low or “OFF” periods, do you usually have painful cramps or spasms? Out of the total ____ hrs of this low time, if you add up all the time in a day when these painful cramps come, how many hours would this make?</label>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class=""></label>
                <select class="form-control" id="mdsupdrs_4_posd" th:field="${formObj.Mdsupdrs_4_posd}" onchange="__main__()" >
                  <option th:selected="${(formObj.Mdsupdrs_4_posd == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_posd == ' 0 = No dystonia OR NO OFF TIME.')}" value=' 0 = No dystonia OR NO OFF TIME.'> 0 = No dystonia OR NO OFF TIME.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_posd == ' 1 = &lt;/= 25% of time in OFF state.')}" value=' 1 = &lt;/= 25% of time in OFF state.'> 1 = &lt;/= 25% of time in OFF state.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_posd == ' 2 = 26-50% of time in OFF state.')}" value=' 2 = 26-50% of time in OFF state.'> 2 = 26-50% of time in OFF state.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_posd == ' 3 = 51-75% of time in OFF state.')}" value=' 3 = 51-75% of time in OFF state.'> 3 = 51-75% of time in OFF state.</option>
                  <option th:selected="${(formObj.Mdsupdrs_4_posd == ' 4 = >75% of time in OFF state')}" value=' 4 = >75% of time in OFF state'> 4 = >75% of time in OFF state</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class="">Modified Hoehn and Yahr Scale</label>
                <select class="form-control" id="hoehnyahr" th:field="${formObj.Hoehnyahr}" onchange="__main__()" >
                  <option th:selected="${(formObj.Hoehnyahr == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 0 = Asymptomatic')}" value=' 0 = Asymptomatic'> 0 = Asymptomatic</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 1 = Unilateral disease')}" value=' 1 = Unilateral disease'> 1 = Unilateral disease</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 1,5 = Unilateral plus axial involvement')}" value=' 1,5 = Unilateral plus axial involvement'> 1,5 = Unilateral plus axial involvement</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 2 = Bilateral involvement, without impairment of balance')}" value=' 2 = Bilateral involvement, without impairment of balance'> 2 = Bilateral involvement, without impairment of balance</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 2,5 = Mild bilateral disease, with recovery on pull test')}" value=' 2,5 = Mild bilateral disease, with recovery on pull test'> 2,5 = Mild bilateral disease, with recovery on pull test</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 3 = Mild to moderate bilateral disease, some postural instability, physically independent')}" value=' 3 = Mild to moderate bilateral disease, some postural instability, physically independent'> 3 = Mild to moderate bilateral disease, some postural instability, physically independent</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 4 = Severe disability, still able to walk or stand unassisted')}" value=' 4 = Severe disability, still able to walk or stand unassisted'> 4 = Severe disability, still able to walk or stand unassisted</option>
                  <option th:selected="${(formObj.Hoehnyahr == ' 5 = Wheelchair bound or bedridden unless aided')}" value=' 5 = Wheelchair bound or bedridden unless aided'> 5 = Wheelchair bound or bedridden unless aided</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
			<div class="col-sm-12">
              <div class="form-group has-minimal  move-down-text" >
                <label for="sel1" class="">Schwab and England Scale</label>
                <select class="form-control" id="schwab_engl_adl" th:field="${formObj.Schwab_engl_adl}" onchange="__main__()" >
                  <option th:selected="${(formObj.Schwab_engl_adl == '-')}" value='-'>-</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 1 = 100%')}" value=' 1 = 100%'> 1 = 100%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 2 = 90%')}" value=' 2 = 90%'> 2 = 90%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 3 = 80%')}" value=' 3 = 80%'> 3 = 80%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 4 = 70%')}" value=' 4 = 70%'> 4 = 70%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 5 = 60%')}" value=' 5 = 60%'> 5 = 60%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 6 = 50%')}" value=' 6 = 50%'> 6 = 50%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 7=  40%')}" value=' 7=  40%'> 7=  40%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 8 = 30%')}" value=' 8 = 30%'> 8 = 30%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 9 = 20%')}" value=' 9 = 20%'> 9 = 20%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 10 = 10%')}" value=' 10 = 10%'> 10 = 10%</option>
                  <option th:selected="${(formObj.Schwab_engl_adl == ' 11 = 0%')}" value=' 11 = 0%'> 11 = 0%</option>
                </select>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="mdsupdrs_4_copyright" class="instruction">Last updated August 13, 2019 | Copyright © 2008 International Parkinson and Movement Disorder Society. All rights reserved. Modified and used with permission of MDS.
This scale may not be copied, distributed or otherwise used in whole or in part without prior written consent of the International Parkinson and Movement Disorder Society.</label>
              </div>
            </div>          </div>
        </form>
<div id="upload-progress" style='display:none'><div class="progress-bar-1" style="display:none"></div></div> <!-- Progress bar added -->    <div class="selectedDrogsChildren">
                    <span th:each="formChild: ${formD}"
                          th:text="${formChild.name}"
                          th:class="${formChild.name}"
                          style="display:none;"
                    ></span>
    </div>

            </div>
    </div>
  </div>
</div>

<script  type="text/javascript">
function __main__() {
minimum_part_filled_out();
    } __main__(); 

</script>
</body>
</html>
