<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title> RBD Screening Questionnaire</title>
<!-- css files -->
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="../fonts/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="../css/registration-style.css"/>
<link rel="stylesheet" type="text/css" href="../css/elements.css"/>
<!-- Bootstrap Timepicker CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="../css/check-ecrf-minimal.css"/>
<!-- jquery library --> 
<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script> 
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/survey.js"></script>
<!-- Bootstrap Timepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="../js/check-ecrf-minimal.js"></script>
<script  type="text/javascript">
$(document).ready(function(){     $('.timepicker').timepicker({
        showInputs: false,
        showMeridian: false
    });});
</script>
<style>
#logo {
    display: block;
    margin: auto;
}
.minimal-radio {
    color: #E07800;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.core-radio {
    color: #E07800;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.form-group.has-minimal > label {
    color: #263C49;
    /* You can add any other CSS properties here to style the label. */
}
.form-group.has-core > label {
    color: #263C49;
    /* You can add any other CSS properties here to style the label. */
}
.progress .progress-bar {
    background-image: linear-gradient(to bottom, #E07800 0, #E07800 100%) !important;
}
.survey-button {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 6px;
    background-color: #3A91B6;
    background-position: center center;
    border-color: #3A91B6;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.has-minimal .form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}
.has-core .form-control {
    border-color: #E07800;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .025), 2px 2px 1px 0px rgba(224,120,0, 0.25);
}


.header-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subheader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.move-up-first-header {
    margin-top: 70px;
}


.move-down-header {
    margin-bottom: 35px;
}


.move-up-header {
    margin-top: 55px;
}


.move-down-subheader {
    margin-bottom: 10px;
}


.move-up-subheader {
    margin-top: 40px;
}

.move-up-yes-no {
    margin-top: 5px;
}

.move-down-yes-no {
    margin-bottom: 30px;
}

.move-down-text {
    margin-bottom: 30px;
}

h4 {
    line-height: 1.78;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 40px;
}

.active-tab {
    background-color: #23527c!important;
    color: #fff!important;
}

.less-bold-left-justified {
    text-align: left!important;
    /*padding-left: 30px!important;*/
    color: #000; /* replace it with your color code */
    font-size: 20px; /* adjust based on your needs */
    font-weight: normal; /* Use 'bold' for bold font, 'normal' for less bold  */
}

nav.navbar-nav {
    margin-bottom: 50px;
}

.instruction {
    font-weight: normal;
}

.nav-justified {
    padding-top: 50px;
    padding-bottom: 100px;
}

.specific-list li {
    display: block;
    margin-bottom: 10px;
}

.specific-list input[type="radio"] {
    margin-right: 5px;
}

.specific-list label {
    display: flex;
    align-items: center;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.completed {
     color: green;
 }
.uncompleted {
    color: red;
}

</style>
</head>

<body>
<img border="0" id="logo" name="logo" alt="Movement Disorder Society Genetic mutation database" src="../assets/fmjfox.png" />
<!-- Кнопка возврата на landing-page -->
<nav style="margin: 20px 0; text-align: center;">
    <button id="backToLanding" class="btn btn-secondary">Back to Patient eCRFs</button>
</nav>

<script th:inline="javascript">
/*<![CDATA[*/
var surveyId = /*[[${#uris.escapeQueryParam(surveyId)}]]*/ '0';
$("#backToLanding").click(function(){
    // Создаем динамическую форму для отправки POST-запроса
    var form = document.createElement("form");
    form.method = "post";
    form.action = "../survey/" + surveyId; // убедитесь, что URL корректный
    form.target = "landing-page_" + surveyId;
    document.body.appendChild(form);
    form.submit();
    document.body.removeChild(form);
    
    // Переключаемся на окно лендинга по target
    var landingWindow = window.open("", form.target);
    if (landingWindow) {
        landingWindow.focus();
    }
    // Пытаемся закрыть текущее окно (закроется, если оно было открыто скриптом)
    window.close();
});
/*]]>*/</script><div class="registration-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">
<div style="font-size: 18px;color: #8a6d3b; background-color: antiquewhite; border: burlywood 3px solid;border-radius: 5px;">
    <div style="padding: 10px 10px 0px">
        Data entered into this eCRF are automatically saved
    </div>
    <div style="padding: 0px 10px 10px">
        The contributor will also be able to return at a future date to view
        and/or edit the eCRF should new information regarding the patient/family become available
    </div>
</div>
        <br/>
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">
          <span style="color: #133957" th:text="${'Local ID: ' + centerId}" th:if="${centerId}"></span><br/>
          <span style="color: #133957" th:text="${'Project ID: ' + projectId}" th:if="${projectId}"></span>
</div>
        <form accept-charset="UTF-8" class="registration-form onlyForm" method="post" th:object="${formObj}" th:id="${formObj.surveyTwoId}" >
<input type='hidden' id="filling_status" th:field="${formObj.fillingStatus}"/><div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 col-lg-offset-0 col-lg-12">        <div class="top-box text-left">
          <h2 class="title">RBD Screening Questionnaire</h2>
        </div>  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%;background-image: linear-gradient(to bottom,#33A371 0,#33A371 100%)">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
	<div class="alert alert-warning" role="alert">
  	   <strong>Warning:</strong> The minimal dataset is not complete yet. Please be reminded that to complete the minimal dataset is mandatory in order to have samples processed for analysis. Please continue or come back when you can complete at least the minimal dataset.
	</div>
</div>          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-up-subheader move-down-header" >
                <label namelabel="rbdq_ex" class="" for="">RBDSQ completed</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_ex}" type="radio" name1="rbdq_ex" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_ex}" type="radio" name1="rbdq_ex" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_who" class="" for="">A. Source of information</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_who}" type="radio" name1="rbdq_who" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">Participant</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_who}" type="radio" name1="rbdq_who" value="2"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> Caregiver/Informant</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_who}" type="radio" name1="rbdq_who" value="3"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> Participant and Caregiver/Informant</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_1" class="" for="">1. I sometimes have very vivid dreams.</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_1}" type="radio" name1="rbdq_1" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_1}" type="radio" name1="rbdq_1" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_2" class="" for="">2. My dreams often have aggressive or action-packed content</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_2}" type="radio" name1="rbdq_2" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_2}" type="radio" name1="rbdq_2" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_3" class="" for="">3. The movements of my body at night often correspond to my dreams</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_3}" type="radio" name1="rbdq_3" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_3}" type="radio" name1="rbdq_3" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_4" class="" for="">4. I know that I move my arms or legs in my sleep</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_4}" type="radio" name1="rbdq_4" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_4}" type="radio" name1="rbdq_4" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_5" class="" for="">5. When this has happened, I have sometimes (almost) hurt my sleeping partner or myself</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_5}" type="radio" name1="rbdq_5" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_5}" type="radio" name1="rbdq_5" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="rbdq_6_headline" class="">6. I experience or have experienced  the following phenomena during my dreams:</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="Rbdq_6_1" class="" for="">6.1. speaking, shouting, swearing, laughing loudly</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_1}" type="radio" name1="Rbdq_6_1" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_1}" type="radio" name1="Rbdq_6_1" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="Rbdq_6_2" class="" for="">6.2. sudden limb movements, "fights"</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_2}" type="radio" name1="Rbdq_6_2" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_2}" type="radio" name1="Rbdq_6_2" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="Rbdq_6_3" class="" for="">6.3. gestures, sequences of movements, that are pointless during sleep, e.g. waving, saluting, shooing away a fly, falling out of bed</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_3}" type="radio" name1="Rbdq_6_3" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_3}" type="radio" name1="Rbdq_6_3" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="Rbdq_6_4" class="" for="">6.4. things that have fallen down around the bed, e.g., bedside lamp, book, glasses</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_4}" type="radio" name1="Rbdq_6_4" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_6_4}" type="radio" name1="Rbdq_6_4" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_7" class="" for="">7. At times I’m woken up by my own movements</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_7}" type="radio" name1="rbdq_7" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_7}" type="radio" name1="rbdq_7" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_8" class="" for="">8. On waking up, I can usually remember the content of my dreams well</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_8}" type="radio" name1="rbdq_8" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_8}" type="radio" name1="rbdq_8" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_9" class="" for="">9. My sleep is frequently disturbed.</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_9}" type="radio" name1="rbdq_9" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_9}" type="radio" name1="rbdq_9" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="rbdq_10_headline" class="">10. I have/had a disease of the nervous system:</label>
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10a" class="" for="">10.a Stroke</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10a}" type="radio" name1="rbdq_10a" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10a}" type="radio" name1="rbdq_10a" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10b" class="" for="">10.b Head trauma</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10b}" type="radio" name1="rbdq_10b" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10b}" type="radio" name1="rbdq_10b" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10c" class="" for="">10.c Parkinsonism</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10c}" type="radio" name1="rbdq_10c" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10c}" type="radio" name1="rbdq_10c" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10d" class="" for="">10.d RLS</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10d}" type="radio" name1="rbdq_10d" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10d}" type="radio" name1="rbdq_10d" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10e" class="" for="">10.e Narcolepsy</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10e}" type="radio" name1="rbdq_10e" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10e}" type="radio" name1="rbdq_10e" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10f" class="" for="">10.f Depression</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10f}" type="radio" name1="rbdq_10f" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10f}" type="radio" name1="rbdq_10f" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10g" class="" for="">10.g Epilepsy</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10g}" type="radio" name1="rbdq_10g" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10g}" type="radio" name1="rbdq_10g" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label namelabel="rbdq_10h" class="" for="">10.h Inflammatory disease of the brain</label>
                
		<ul class="listing minimal-radio move-down-yes-no move-up-yes-no">
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10h}" type="radio" name1="rbdq_10h" value="0"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;">yes</span>   
				 </label>
            </li>
            <li>
                <label style="margin-left:10px;">
                  <input style="margin-left:5px;opacity:100!important;" th:field="${formObj.Rbdq_10h}" type="radio" name1="rbdq_10h" value="1"  onchange="__main__(); minimum_part_filled_out(); " />
                  <span class="padding-8" style="margin-left:5px;"> no</span>   
				 </label>
            </li>
		</ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal move-down-text" >
                <label for="rbdq_10i" class="">10.i Other, specify</label>
                <input type="text" class="form-control" id="rbdq_10i"  th:field="${formObj.Rbdq_10i}"  placeholder=""  onchange="minimum_part_filled_out()" />
              </div>
            </div>          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group has-minimal " >
                <label id="rbdq_copyright" class="instruction">Copyright © 2007 International Parkinson and Movement Disorder Society (MDS). All Rights Reserved.</label>
              </div>
            </div>          </div>
        </form>
<div id="upload-progress" style='display:none'><div class="progress-bar-1" style="display:none"></div></div> <!-- Progress bar added -->    <div class="selectedDrogsChildren">
                    <span th:each="formChild: ${formD}"
                          th:text="${formChild.name}"
                          th:class="${formChild.name}"
                          style="display:none;"
                    ></span>
    </div>

            </div>
    </div>
  </div>
</div>

<script  type="text/javascript">
function __main__() {
//begin rbdq_who
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_who",true,"null",null);
else hide("rbdq_who",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_who",false,"null",null);
 else  hide("rbdq_who",false);
  } else hide("rbdq_who",false);
 }
//end rbdq_who
//begin rbdq_1
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_1",true,"null",null);
else hide("rbdq_1",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_1",false,"null",null);
 else  hide("rbdq_1",false);
  } else hide("rbdq_1",false);
 }
//end rbdq_1
//begin rbdq_2
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_2",true,"null",null);
else hide("rbdq_2",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_2",false,"null",null);
 else  hide("rbdq_2",false);
  } else hide("rbdq_2",false);
 }
//end rbdq_2
//begin rbdq_3
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_3",true,"null",null);
else hide("rbdq_3",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_3",false,"null",null);
 else  hide("rbdq_3",false);
  } else hide("rbdq_3",false);
 }
//end rbdq_3
//begin rbdq_4
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_4",true,"null",null);
else hide("rbdq_4",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_4",false,"null",null);
 else  hide("rbdq_4",false);
  } else hide("rbdq_4",false);
 }
//end rbdq_4
//begin rbdq_5
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_5",true,"null",null);
else hide("rbdq_5",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_5",false,"null",null);
 else  hide("rbdq_5",false);
  } else hide("rbdq_5",false);
 }
//end rbdq_5
//begin rbdq_6_headline
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_6_headline",true,"null",null);
else hide("rbdq_6_headline",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_6_headline",false,"null",null);
 else  hide("rbdq_6_headline",false);
  } else hide("rbdq_6_headline",false);
 }
//end rbdq_6_headline
//begin Rbdq_6_1
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_1",true,"null",null);
else hide("Rbdq_6_1",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_1",false,"null",null);
 else  hide("Rbdq_6_1",false);
  } else hide("Rbdq_6_1",false);
 }
//end Rbdq_6_1
//begin Rbdq_6_2
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_2",true,"null",null);
else hide("Rbdq_6_2",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_2",false,"null",null);
 else  hide("Rbdq_6_2",false);
  } else hide("Rbdq_6_2",false);
 }
//end Rbdq_6_2
//begin Rbdq_6_3
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_3",true,"null",null);
else hide("Rbdq_6_3",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_3",false,"null",null);
 else  hide("Rbdq_6_3",false);
  } else hide("Rbdq_6_3",false);
 }
//end Rbdq_6_3
//begin Rbdq_6_4
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_4",true,"null",null);
else hide("Rbdq_6_4",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_4",false,"null",null);
 else  hide("Rbdq_6_4",false);
  } else hide("Rbdq_6_4",false);
 }
//end Rbdq_6_4
//begin rbdq_7
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_7",true,"null",null);
else hide("rbdq_7",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_7",false,"null",null);
 else  hide("rbdq_7",false);
  } else hide("rbdq_7",false);
 }
//end rbdq_7
//begin rbdq_8
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_8",true,"null",null);
else hide("rbdq_8",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_8",false,"null",null);
 else  hide("rbdq_8",false);
  } else hide("rbdq_8",false);
 }
//end rbdq_8
//begin rbdq_9
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_9",true,"null",null);
else hide("rbdq_9",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_9",false,"null",null);
 else  hide("rbdq_9",false);
  } else hide("rbdq_9",false);
 }
//end rbdq_9
//begin rbdq_10_headline
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10_headline",true,"null",null);
else hide("rbdq_10_headline",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10_headline",false,"null",null);
 else  hide("rbdq_10_headline",false);
  } else hide("rbdq_10_headline",false);
 }
//end rbdq_10_headline
//begin rbdq_10a
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10a",true,"null",null);
else hide("rbdq_10a",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10a",false,"null",null);
 else  hide("rbdq_10a",false);
  } else hide("rbdq_10a",false);
 }
//end rbdq_10a
//begin rbdq_10b
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10b",true,"null",null);
else hide("rbdq_10b",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10b",false,"null",null);
 else  hide("rbdq_10b",false);
  } else hide("rbdq_10b",false);
 }
//end rbdq_10b
//begin rbdq_10c
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10c",true,"null",null);
else hide("rbdq_10c",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10c",false,"null",null);
 else  hide("rbdq_10c",false);
  } else hide("rbdq_10c",false);
 }
//end rbdq_10c
//begin rbdq_10d
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10d",true,"null",null);
else hide("rbdq_10d",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10d",false,"null",null);
 else  hide("rbdq_10d",false);
  } else hide("rbdq_10d",false);
 }
//end rbdq_10d
//begin rbdq_10e
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10e",true,"null",null);
else hide("rbdq_10e",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10e",false,"null",null);
 else  hide("rbdq_10e",false);
  } else hide("rbdq_10e",false);
 }
//end rbdq_10e
//begin rbdq_10f
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10f",true,"null",null);
else hide("rbdq_10f",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10f",false,"null",null);
 else  hide("rbdq_10f",false);
  } else hide("rbdq_10f",false);
 }
//end rbdq_10f
//begin rbdq_10g
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10g",true,"null",null);
else hide("rbdq_10g",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10g",false,"null",null);
 else  hide("rbdq_10g",false);
  } else hide("rbdq_10g",false);
 }
//end rbdq_10g
//begin rbdq_10h
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10h",true,"null",null);
else hide("rbdq_10h",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10h",false,"null",null);
 else  hide("rbdq_10h",false);
  } else hide("rbdq_10h",false);
 }
//end rbdq_10h
//begin rbdq_10i
//condition display only if "yes" is checked in item "rbdq_ex"
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10i",true,"null",null);
else hide("rbdq_10i",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10i",false,"null",null);
 else  hide("rbdq_10i",false);
  } else hide("rbdq_10i",false);
 }
//end rbdq_10i
minimum_part_filled_out();
    } __main__(); 
$('#rbdq_ex,input[name="rbdq_ex"]').on('change', function() {if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_who",true,"null",null);
else hide("rbdq_who",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_who",false,"null",null);
 else  hide("rbdq_who",false);
  } else hide("rbdq_who",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_1",true,"null",null);
else hide("rbdq_1",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_1",false,"null",null);
 else  hide("rbdq_1",false);
  } else hide("rbdq_1",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_2",true,"null",null);
else hide("rbdq_2",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_2",false,"null",null);
 else  hide("rbdq_2",false);
  } else hide("rbdq_2",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_3",true,"null",null);
else hide("rbdq_3",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_3",false,"null",null);
 else  hide("rbdq_3",false);
  } else hide("rbdq_3",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_4",true,"null",null);
else hide("rbdq_4",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_4",false,"null",null);
 else  hide("rbdq_4",false);
  } else hide("rbdq_4",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_5",true,"null",null);
else hide("rbdq_5",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_5",false,"null",null);
 else  hide("rbdq_5",false);
  } else hide("rbdq_5",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_6_headline",true,"null",null);
else hide("rbdq_6_headline",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_6_headline",false,"null",null);
 else  hide("rbdq_6_headline",false);
  } else hide("rbdq_6_headline",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_1",true,"null",null);
else hide("Rbdq_6_1",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_1",false,"null",null);
 else  hide("Rbdq_6_1",false);
  } else hide("Rbdq_6_1",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_2",true,"null",null);
else hide("Rbdq_6_2",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_2",false,"null",null);
 else  hide("Rbdq_6_2",false);
  } else hide("Rbdq_6_2",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_3",true,"null",null);
else hide("Rbdq_6_3",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_3",false,"null",null);
 else  hide("Rbdq_6_3",false);
  } else hide("Rbdq_6_3",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("Rbdq_6_4",true,"null",null);
else hide("Rbdq_6_4",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("Rbdq_6_4",false,"null",null);
 else  hide("Rbdq_6_4",false);
  } else hide("Rbdq_6_4",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_7",true,"null",null);
else hide("rbdq_7",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_7",false,"null",null);
 else  hide("rbdq_7",false);
  } else hide("rbdq_7",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_8",true,"null",null);
else hide("rbdq_8",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_8",false,"null",null);
 else  hide("rbdq_8",false);
  } else hide("rbdq_8",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_9",true,"null",null);
else hide("rbdq_9",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_9",false,"null",null);
 else  hide("rbdq_9",false);
  } else hide("rbdq_9",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10_headline",true,"null",null);
else hide("rbdq_10_headline",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10_headline",false,"null",null);
 else  hide("rbdq_10_headline",false);
  } else hide("rbdq_10_headline",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10a",true,"null",null);
else hide("rbdq_10a",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10a",false,"null",null);
 else  hide("rbdq_10a",false);
  } else hide("rbdq_10a",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10b",true,"null",null);
else hide("rbdq_10b",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10b",false,"null",null);
 else  hide("rbdq_10b",false);
  } else hide("rbdq_10b",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10c",true,"null",null);
else hide("rbdq_10c",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10c",false,"null",null);
 else  hide("rbdq_10c",false);
  } else hide("rbdq_10c",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10d",true,"null",null);
else hide("rbdq_10d",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10d",false,"null",null);
 else  hide("rbdq_10d",false);
  } else hide("rbdq_10d",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10e",true,"null",null);
else hide("rbdq_10e",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10e",false,"null",null);
 else  hide("rbdq_10e",false);
  } else hide("rbdq_10e",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10f",true,"null",null);
else hide("rbdq_10f",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10f",false,"null",null);
 else  hide("rbdq_10f",false);
  } else hide("rbdq_10f",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10g",true,"null",null);
else hide("rbdq_10g",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10g",false,"null",null);
 else  hide("rbdq_10g",false);
  } else hide("rbdq_10g",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10h",true,"null",null);
else hide("rbdq_10h",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10h",false,"null",null);
 else  hide("rbdq_10h",false);
  } else hide("rbdq_10h",false);
 }
if (length("rbdq_ex") > 0 ? isvisible("rbdq_ex", true) : false )
{ if (check("rbdq_ex","yes"))
 show("rbdq_10i",true,"null",null);
else hide("rbdq_10i",true);
} else {
if (isvisible2("rbdq_ex", false)) {
 if (check2("rbdq_ex","yes"))
  show("rbdq_10i",false,"null",null);
 else  hide("rbdq_10i",false);
  } else hide("rbdq_10i",false);
 }
});

</script>
</body>
</html>
